.menu-bar {
    -fx-pref-height: 50px;
}

.button {
    -fx-pref-width: 180px;
    -fx-pref-height: 55px;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 10px;
}

.button-zahod {
    -fx-padding: 0;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-background-color: #dedede;
    -fx-background-radius: 3px;
    -fx-text-fill: #8f8f8f;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-translate-x: 155px;
    -fx-translate-y: -55px;
    -fx-border-style: solid;
    -fx-border-color: #8f8f8f;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.button-zahod:hover {
    -fx-background-color: #efefef;
    -fx-text-fill: #8f8f8f;
    -fx-border-color: #8f8f8f;
}

.label {
    -fx-padding: 10px;
}

.list-view {
    -fx-pref-width: 180px;
    -fx-pref-height: 80px;
}