.menu-bar {
    -fx-pref-height: 50px;
}

.button {
    -fx-pref-width: 180px;
    -fx-pref-height: 55px;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 10px;
}

.label {
    -fx-padding: 10px;
}

.list-view {
    -fx-pref-width: 180px;
    -fx-pref-height: 80px;
}